@import 'dashboard.css';
@import 'main.css';
@import 'oders.css';
@import 'footer.css';

/* Reset default browser styles */
:root {
  --background-color-1: #f4f4f4;
  --background-color-2: #007aff;
  --text-color-1: #333;
  --text-color-2: #fff;
}

/* Global styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--background-color-1);
  color: var(--text-color-1);
}